# numpy pandas matplotlib.pyplot综合

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
file_name = 'example_excel/children.xlsx'
pd.read_excel(file_name)

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,test,age
0,编号,性别,月龄,"体重,kg","身高,cm","坐高,cm","胸围,cm","头围,cm",左眼视力,右眼视力,检验,年龄
1,NaN,1=男，2=女,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1=阳性，2=阴性,NaN
2,1,1,65,18,110.6,61.2,55,48,0.8,0.8,1,6
3,2,1,60,15.3,103.2,58.5,50,45.8,0.6,0.6,2,5
4,3,1,70,20.6,112.5,64.5,55,50,0.6,0.6,2,6
...,...,...,...,...,...,...,...,...,...,...,...,...
93,92,1,76,21.3,119.1,65.8,56.5,48.5,1.5,0.4,1,7
94,93,1,77,25.6,120.8,66,62,52,1.2,1.2,2,7
95,94,2,76,21.5,119.9,67,51,49.5,0.8,0.8,1,7
96,95,2,80,17.9,113.8,62.3,52.5,47,1.2,1.2,2,7
97,96,2,54,16.1,102,58.6,53,50,1.2,1.2,1,5